<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SekiroAPClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SekiroAPClient.Properties.Settings>
            <setting name="IsFirstOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>830</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1370</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPositionSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandoOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="RoomUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedEnemy" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OWTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OWLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OWHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OWWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OWIsPositionSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastFeedbackSentAt" serializeAs="String">
                <value />
            </setting>
        </SekiroAPClient.Properties.Settings>
    </userSettings>
</configuration>
